<template>
  <div>
    <div>
      <header>
        <div class="header-wrap">
          <b-container>
            <b-row class="align-items-center">
              <b-col col lg="1" md="1"
                ><div class="sidemenu-toggle" @click="toggleSideBar">
                  <i class="fas fa-bars"></i></div
              ></b-col>
              <b-col col lg="11" md="11">
                <div class="header-right">
                  <ul>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fas fa-phone-alt"></i>
                        <span>+31(0)12-3456789</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fas fa-user"></i>
                        <span>{{$t("Inloggen")}}</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fas fa-shopping-bag"></i>
                        <span>Winkelmandje</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>
          </b-container>
        </div>
      </header>
      <SideBar :toggle="sideBarVisibility" :categories="allCategories"  @close="sideBarVisibility = !sideBarVisibility"/>
    </div>
  </div>
</template>

<script>
import SideBar from "./SideBar.vue";
import { mapGetters } from "vuex";

export default {
  name: "Header",
  components: {
    SideBar,
  },
  data() {
    return {
      sideBarVisibility: false,
    };
  },
  computed: {
    ...mapGetters(["allCategories"]),
  },
  watch: {
    sideBarVisibility(value) {
      if (value) {
        document.body.classList.add("overlay");
      } else {
        document.body.classList.remove("overlay");
      }
    },
  },
  async mounted() {
    this.loadCategoryMenu();
  },
  methods: {
    toggleSideBar() {
      this.sideBarVisibility = !this.sideBarVisibility;
    },
    loadCategoryMenu() {
      this.$store.dispatch("fetchAllCategory");
    },
  },
};
</script>

<style scoped></style>
