<template>
  <div class="sidebar" :class="{ show: toggle }">
    <div class="sidebar-wrap">
      <div class="sidebar-close" @click="$emit('close')">
        <a href="javascript:void(0)">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="sidebar-content">
        <ul class="main-menu">
          <li>
            <div class="link-bar">
              <a href="javascript:void(0)">
                <span>Home</span>
              </a>
            </div>
          </li>
          <li v-for="(category, idx) in categories" :key="category.id">
            <div class="link-bar">
              <a href="javascript:void(0)">
                <span>{{ category.name }}</span>
              </a>
              <div
                v-if="
                  category && category.children && category.children.length > 0
                "
                @click="toggleMenu(idx)"
                class="drop"
                :class="{
                  down:
                    category.children &&
                    category.children.length > 0 &&
                    category &&
                    category.key,
                }"
              >
               
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
                         
            <ul

              class="second-level"
              :class="{ 'show-secondMenu': category.key }"
            >
             
              <li
                v-for="(children1, idx1) in category.children"
                :key="children1.id"
              >
                <div class="link-bar">
                  <a href="javascript:void(0)">
                    <span>{{ children1.name }}</span>
                  </a>
                  <div
                    class="drop"
                    :class="{
                      down:
                        children1.key &&
                        children1 &&
                        children1.children &&
                        children1.children.length > 0,
                    }"
                    v-if="
                      children1 &&
                        children1.children &&
                        children1.children.length > 0
                    "
                    @click="toggleSubMenu(idx, idx1)"
                  >
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <ul
                  v-if="
                    children1 &&
                      children1.children &&
                      children1.children.length > 0
                  "
                  class="third-level"
                  :class="{ 'show-thirdMenu': children1.key }"
                >
                  <li
                    v-for="children2 in children1.children"
                    :key="children2.id"
                  >
                    <div class="link-bar">
                      <a href="javascript:void(0)">
                        <span>{{ children2.name }}</span>
                      </a>
                    </div>
                  </li>
                  
                </ul>
              </li>
              
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["toggle", "categories"],
  data() {
    return {
      submenuVisibility: false,
      secondMenu: false,
      thirdMenu: false,
    };
  },
  methods: {
    toggleMenu(id) {
      const category = this.categories[id];

      // console.log(category);
      if (category.key === undefined || category.key === false) {
        this.categories[id].key = true;
      } else {
        this.categories[id].key = false;
      }
      this.$forceUpdate();
    },
    toggleSubMenu(parentId, id) {
      const subCategory = this.categories[parentId].children[id];
      // console.log(subCategory);
      if (subCategory.key === undefined || subCategory.key === false) {
        this.categories[parentId].children[id].key = true;
      } else {
        this.categories[parentId].children[id].key = false;
      }
      this.$forceUpdate();
    },
  },
};
</script>
