@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/open-sans-v26-latin-600.woff2') format('woff2'),
        url('../assets/fonts/open-sans-v26-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/open-sans-v26-latin-500.woff2') format('woff2'),
        url('../assets/fonts/open-sans-v26-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/open-sans-v26-latin-regular.woff2') format('woff2'),
        url('../assets/fonts/open-sans-v26-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

