@import "./font-family.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

$primaryColor: #676d6b;
$primary300: #9e9f9f;
$primary200: #dddddd;
$primary100: #e6e6e6;
$whiteColor: #ffffff;
$baseColor: #676d6b;
$blackColor: #000000;
$borderColor: #d0d0d0;
$transition: all 0.5s;
$primaryFont: "Open Sans", sans-serif;

body {
  position: relative;
  font-family: $primaryFont;
  font-size: 14px;

  &.overlay {
    &::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 15;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

ul {
    margin-bottom: 0;
  }
  
  a:hover {
    text-decoration: none;
  }
  
header {
  padding: 10px 0px;
  background-color: $primaryColor;

  .header-wrap {
    .sidemenu-toggle {
      color: $whiteColor;
      border: 1px solid $whiteColor;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 40px;
      font-size: 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: $transition;

      &:hover {
        background-color: $whiteColor;
        color: $primaryColor;
      }
    }

    .header-right {
      ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;

        li {
          margin-left: 40px;

          svg {
            margin-right: 5px;
          }

          a {
            color: $whiteColor;
            transition: $transition;
            font-weight: 500;
          }

          &:hover {
            a {
              color: $primary300;
            }
          }

          @media screen and (max-width: 650px) {
            margin-left: 30px;

            a {
              font-size: 18px;

              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  width: 280px;
  height: 100vh;
  background-color: $primaryColor;
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  transition: $transition;
  transform: translate3d(-100%, 0, 0);
  z-index: 20;

  &.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  .sidebar-wrap {
    .sidebar-close {
      text-align: right;
      padding: 10px 15px 10px 10px;

      a {
        color: $whiteColor;
      }
    }

    .sidebar-content {
      ul {
        &.main-menu {
          li {
            .link-bar {
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: relative;
              padding: 12px 15px 12px 10px;
              font-weight: 500;
              transition: $transition;

              &:hover {
                background-color: $primary300;
              }

              svg {
                color: $whiteColor;
                cursor: pointer;
              }
              .drop{
                  transition: $transition;
                  &.down{
                    transform: rotate(90deg);
                  }
              }
            }

            a {
              color: $whiteColor;
            }

            ul {
              &.second-level {
                background-color: $primary200;
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.35s ease-out;

                &.show-secondMenu {
                  max-height: 1000px;
                  transition: max-height 0.35s ease-in;
                }

                li {
                  .link-bar {
                    a {
                      color: $baseColor;
                    }

                    &:hover {
                      background-color: $primary100;
                    }

                    svg {
                      color: $blackColor;
                      opacity: 0.7;
                    }
                  }

                  &:not(:last-child) {
                    border-bottom: 1px solid $borderColor;
                  }

                  ul {
                    &.third-level {
                      background-color: $whiteColor;
                      overflow: hidden;
                      max-height: 0;
                      transition: max-height 0.35s ease-out;

                      &.show-thirdMenu {
                        max-height: 1000px;
                        transition: max-height 0.35s ease-in;
                      }

                      li {
                        .link-bar {
                          a {
                            color: $baseColor;
                          }
                        }

                        &:not(:last-child) {
                          border-bottom: 1px solid $borderColor;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-content {
    max-height: 800px;
    overflow-y: auto;
    margin-top: 17px;
    scrollbar-color: $primaryColor;
    scrollbar-width: thin;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: $primaryColor;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: $primary100;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: $primary300;
    }
  }
  
